/* 
body{
  background-color: rgba(255, 230, 89, 0.299);
  font-family: monospace;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.left-links {
  display: flex;
  gap: 15px; 
}

.right-links {
  display: flex;
  gap: 15px; 
} */