@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,600;0,700;1,400&display=swap");

html{    
    overflow-x: clip;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

:root{
    --titlefont: 'Metamorphous', sans-serif;
    --smalltitlefont: "Source Serif 4", serif;
    --textfont: 'Segoe UI', Tahoma, Verdana, sans-serif;
    --sdw: 0 4px 10px rgba(0, 0, 0, 0.3);    
    --mycolor: #724539;
    --mytextcolor: #faf7f6;
    --mytextcolor2:#e0dbd3;
    --mycolor1: #d7b899;
    --mytestcolor: #701145;
    --mydivcolorgradient: linear-gradient(45deg, #c79f8ecc ,#dfb9a7ce);
    --mydivcolorgradient2: linear-gradient(45deg, #38261a9c, #7c58419c);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #f0e9e4;
    font-family: var(--textfont);
    height: 100vh;
    min-height: 100dvh;    
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{    
    display: flex;    
}

h3, h4, h5, h6{    
    font-family: var(--smalltitlefont);
    font-weight: 600;
}

h3{   
    color: #c77e35;
}

h4{
    color: #c77e35;
}

h5{ 
    color: var(--mytextcolor2);
    font-size: 3rem;
    text-align: center;
    padding-bottom: 10%;
}

h6{
    color: var(--mytextcolor2);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5%;
}

img{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

span{
    color: #b35304;
}

button{
    font-family: var(--textfont);
    font-weight: 600;
    box-shadow: var(--sdw);
    background-color: #4b3d2a;
    color: #e0d6c1;
    border: 2px solid #d7b899;
    border-radius: 10px;
    font-size: clamp(1.4rem, 1.1vw, 999rem);
    padding: 
        clamp(0.5rem, 2vw, 0.7rem)
        clamp(1.4rem, 4vw, 1.6rem);     
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0;
    align-self: center;
}

button:hover{
    background-color: #d7b899;
    color: #3b2a1c;
}  

.submit-button{
    font-family: var(--textfont);
    box-shadow: var(--sdw);
    background-color: #4b3d2a;
    color: #e0d6c1;
    border: 2px solid #d7b899;
    border-radius: 10px;
    font-size: clamp(1.3rem, 1.1vw, 1.4rem);
    padding: 
        clamp(0.5rem, 2vw, 0.5rem)
        clamp(1.4rem, 4vw, 1.6rem);
    font-weight: 400;      
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.2rem 0rem;
    align-self: center;
    
    
}

.submit-button:hover{
    background-color: #d7b899;
    color: #3b2a1c;
} 

.cancel-appt{
    background-color: #587c3c;
    color: #e0d6c1;
    border: none
}

.cancel-appt:hover{
    background-color: #54af0f;
    color: #e0d6c1;
    
}

.delete-appt{
    background-color: #834242;
    color: #e0d6c1;
    border: none
}

.delete-appt:hover{
    background-color: #b32222;
    color: #e0d6c1;
    
}

.alert{
    color: rgb(173, 1, 1);
    margin-top: 1rem;
}

/* ALL SCREEN ALL SCREEN ALL SCREEN ALL SCREEN ALL SCREEN ALL SCREEN ALL SCREEN ALL SCREEN ALL SCREEN ALL SCREEN */

/* nav  */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav a{        
    display: block;
    text-decoration: none;
    color: #e9e4dd;
}

nav a:hover{
    background-color: #251e15;
}

.logo:hover{
    background-color: transparent;
}

.nav-toggle:hover{
    background-color: transparent;
}

/* hero */
    
.hero-container{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
   
.hero-content{
    background: transparent;
}

h2{
    font-family: var(--titlefont);
    font-weight: 400;    
    background-color: transparent; 
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 1vh;
}

.kovasz{
    background: linear-gradient(45deg, #a1512e 0%,#c77e35 20%,#cf965c 40%,#fddea7 70%);
    background-clip: text;
    color: transparent;
}

.mentor{
    line-height: 1;
    background: linear-gradient(45deg, #a1512e 0%,#c77e35 30%,#cf965c 50%,#fddea7 85%);
    background-clip: text;
    color: transparent;
}

.hero-subtitle{
    background-color: transparent;
    color: #bbb3a7;
    font-style: italic;
    position: relative;
    font-family: var(--textfont);
}   

/* intro */

.introtext{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introtext p{
    text-align: justify;
}

.intro-space{
    margin-top: 1.5rem;
}

.introcontent img{  
    border-radius: 50%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
}

/* sourdough */

#sourdough{    
    background-color: var(--mycolor);
}

.sourdough-list{  
    text-align: center;
    list-style: none; 
    padding-left: 0;
    font-family: var(--textfont);
}

.sourdough-list li::before{
    content: "- ";   
    color: inherit; 
}

.sourdough-text{
    color: var(--mytextcolor2);
}

.course-theme ul{    
    list-style: none; 
    padding-left: 0;
    font-family: var(--textfont);
}

.course-theme ul li::before {
  content: "- ";   
  color: inherit;  
}

.card p{
    font-size: 1.3rem;
    padding: 1rem 1rem;    
}

/* application */

.application button{
    margin: 2vh;
}

#input-side{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
}

.input-content{
    color: var(--mytextcolor2);
    max-width: fit-content;
}

.middle-position{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.middle-position button{
    margin-bottom: 2rem;
}

.input-field{
    color: var(--mytextcolor);
    background-color: #684e38c2;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.input-field:focus{
    outline: none;
    border-color: #d7b899ee;
    background-color: #915727c2; 
}

.contact-container{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: var(--mytextcolor2);
}

.contact-content h4{
    padding: 3vh 0vh 1vh 0vh;
}

.socials{
    display: flex;
}

.link{    
    color: #d7b899;
    text-decoration: underline;
}

/* staff */

#staff{
    background-color: #201511;
    width: 100%;
    /* height: 100vh; */
    /* min-height: fit-content; */
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

#staff > .input-content{
    background-color: transparent;
}

.creating-appointment-container> .input-content{
    background-color: transparent;
}

.table-design{
    text-align: center;
    width: 100%;
}

.table-wrapper{
    overflow-x: auto;
    width: 100%;
}

table{
    border-collapse: collapse;
    font-size: 1.4rem;   
}

.table-design td, th{
    padding:0px 10px;
    white-space: nowrap;
}

th{
    color: var(--mycolor1);
    padding-bottom: 2%;
}

tr:nth-child(odd){
    color: #e6bb98;
}

footer{
    background-color: #1a150e;
    background: linear-gradient(#0e0b07,#1a150e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--mytextcolor2);
    padding: 1vh;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT PORTRAIT*/

@media screen and (orientation: portrait){

section{
    scroll-margin-top: 30px;
}

.container{
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
    margin-bottom: 2vh;
}

h3{
    font-size: 8vw;
    padding-bottom: 7%;
}

h4{
    font-size: 6vw;
    text-align: center;    
}
    
p, li{
    font-size: 1.3rem;
    line-height: 2rem;
}

img{        
    width: 90%;
    max-width: 400px;
}

/* hero portrait*/

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-image: url('./images/heroportrait.jpg');
}

.hero-content{
    padding-top: 19vh;
    width: fit-content;
    text-align: center;
    background-color: transparent;
}

h2{   
    font-size: 3.6rem;
}

.hero-line{
     display: none;
}

.hero-subtitle{    
    font-size: 1.5rem;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

/* intro portrait */

.introcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.intropic{
    display: flex;
    justify-content: center;
}

.intropic>img{
    margin-bottom: 7%;
    max-width: 600px;
}
    
.introtext{
    width: 100%;       
    text-align: justify;
    margin-bottom: 7%;
}

.intro-title-desktop{
    display: none;
}

/* sourdough portrait */

.sourdough{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sourdough-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sourdoughpic-desktop{
    display: flex;
    justify-content: center;
    width: 75%;
}

.sourdoughpic-desktop>img{
    object-fit: cover;
    box-shadow: none;
    margin-bottom: 15%;     
}

.sourdough-text {
    padding: 0vh 2vw;
    width: 100%;
    margin-bottom: 6vh;
    text-align: center;
}

.sourdough-text>h3{
    line-height: normal;
}

.sourdough-list{    
    font-size: 1.4rem;
    line-height: 2.2rem;
}     

/* course portrait */

.course{
    display: flex;
    flex-direction: column;
    align-items: center;       
}

.course-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 5vh;       
}

.course-cards{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "card-1 card-2"
        "card-1 card-2"
        "card-3 card-4"
        "card-3 card-4"
        "card-5 card-6";    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.card1, .card2, .card3, .card4{
    background: var(--mydivcolorgradient);    
}

.card5, .card6{
    border: 4px solid #d7b899;
}

.card-pic{
    display: none;    
}

.course-theme{
    width: 100%;
    font-size: 1.4rem;
    margin-top: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;    
}

.course-theme ul{
    text-align: center;
    margin-top: 1.5rem;    
}

.course-what-to-expect{
    padding-top: 1.5rem;
    text-align: justify;
}

.course-what-to-expect p{
    margin-top: 1.5rem;
}

/* opinion portrait */

#opinions{
    background-color: var(--mycolor);
}

.opinions{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}

.opinions-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opinion{    
    display: flex;
    flex-direction: column;    
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3vh;    
}

.opinion-pic{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.opinion-pic>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.man-pic{
    margin-top: 2vh;
}

.opinion-text{      
    font-size: 1.4rem;
    font-style: italic;
    width: 90%;
    height: auto;
    text-align: center;    
    margin-top: 3vh;
    color: var(--mytextcolor2);
}

/* application portrait */

#application{
    scroll-margin-top: 15vh;
}

.application{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 4vh;
}

#input-side{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-image: url('./images/input-side-portrait2.jpg');
    background-position: 50% 75%;    
}

.input-content{    
    position: relative;
    padding: 30% 5%;    
}

.input-field{
    font-size: 0.9rem;
    width: 320px;
    padding: 10px;
}

.link{
    color: #d7b899;
    text-decoration: underline;
}

/* staff */

#staff .input-content{
    padding: 5vh 2vh;  
}

/* contact portrait */

.contact-container{
    display: flex;        
    justify-content: center;  
    align-items: baseline;
    background-image: url('./images/footer2.jpeg');
    font-size: 1.5rem;
    text-align: center;
}
.contact-content{
    margin-top: 7vh;
    width: 90%;
}

.socials{
    display: flex;        
    justify-content: center;  
    align-items: center;
}

}

/* LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE LANDSCAPE */

@media screen and (orientation: landscape){  

section p, section li,.card p, .opinion-text{
    font-size: clamp(1.1rem, 1.28vw, 999rem);
}
nav li{
    font-size: 1rem;
}

.container{
    width: 90%;
    max-width: 1300px;
    flex-direction: row;
    text-align: center;        
    padding: 4% 0%;
    }

h3{
    font-size: 3vw;
    padding-bottom: 3vh;
}

h4{
    margin-bottom: 1rem;
    font-size: 1.8vw;
}    

/* hero landscape */

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;    
    background-image: url('./images/herolandscape.jpg');
    background-position: 60% 50%;
}

.hero-content{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 10vh;
    margin-left: 10vw;
}

.hero-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 10px;
}

h2{
    font-size: clamp(2rem, 4.5vw, 999rem);
}

.hero-line{
    height: 0.2rem;
    width: clamp(20rem, 32vw, 999rem);
    max-width: 50vw;
    background-image: linear-gradient(70deg, #bb732bbb);
    position: relative;
    top: 1.5vh;
}

.hero-subtitle{    
    font-size: clamp(1rem, 1.5vw, 999rem);
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-left: 10px;
}
.hero-button{
    margin-left: 10px;
}

/* intro landscape */

#introduction{    
    scroll-margin-top: 10vh;
}

.intro-title-mobile{
    display: none;
}

.introcontent{    
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 70px;
}

.intropic{  
    width: 48%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

.intropic>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;    
}

.introtext{        
    font-size: 1.5rem;
    width: 40%;
    text-align: justify;
}

.introtext h3{
    padding-bottom: 3vh;
}

/* sourdough landscape */

#sourdough{    
    scroll-margin-top: 20vh;
}

.sourdough{
    justify-content: baseline;
    align-items: center;
}

.sourdough-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-left: 3.3vw;
    margin-right: 2vw;
}

.sourdough-text {
    line-height: 4.55vh;
    line-height: clamp(1.7rem, 4.55vh, 999rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.sourdough-text>h3{
    line-height:4rem;
}

.sourdoughpic-desktop{      
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.sourdoughpic-desktop>img{
    height: 70%;
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: none;
}

/* course  landscape*/

.course{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.course-content{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto;
    gap: 1rem;
    grid-template-areas: 
        "course-cards course-theme"
        "course-what-to-expect course-what-to-expect";    
    width: 90%;
    justify-content: center;
    align-content: center;      
}

.course-cards{    
    display: grid;    
    grid-template-columns: repeat(8, minmax(0, 1fr)); ;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    grid-template-areas:
    "card-1 card-1 card-2 card-2 card-3 card-3 card-4 card-4"
    "card-1 card-1 card-2 card-2 card-3 card-3 card-4 card-4"
    "card-5 card-5 card-5 card-5 card-pic card-pic card-pic card-pic"
    "card-6 card-6 card-6 card-6 card-pic card-pic card-pic card-pic";
    width: 100%;
}

.card{
    background: var(--mydivcolorgradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 200%;
}

.card p{
    padding: 1vh;
}

.card-pic >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.course-theme{
    text-align: center;
    background: var(--mydivcolorgradient);
    padding: 5vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-what-to-expect{    
    text-align: justify;
    display: flex;
    flex-direction: row;
    gap: 3vw;    
    border: 3px solid #aa6d51;
    padding: 2vw 3vw;   
}

.course-what-to-expect h4{
    display: none;
}

.course-what-to-expect p{
    width: 33%;
}

/* opinions landscape */

#opinions{
    background-color: var(--mycolor);        
    scroll-margin-top: 3vh;
}

.opinions{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opinions-content {   
    text-align: center;
    display: flex;
    justify-content: space-evenly;   
    margin-top: 2vh;
}

.opinion{    
    display: flex;
    flex-direction: column;    
    align-items: center;    
    flex: 1;
    max-width: 40%;   
}

.opinion-pic{
    width: 80%;
    height: auto;
}

.opinion-pic>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.opinion-text{
    font-style: italic;
    width: 100%;
    height: auto;
    margin-top: 3vh;
    color: var(--mytextcolor2);
}

/* application landscape */


#application{    
    scroll-margin-top: 20vh;
}

.application{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#input-side{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;    
    background-image: url('./images/input-side-landscape.jpg');
    background-position: 70% 40%;
    padding-left: 17%;
}

.input-content{
    background-color: #16100c9c;
    padding: 4%;
    margin: 12vh 0vh;
}

.input-field{
    font-size: 1rem;
    width: 300px;
    max-width: 90%;
    padding: 10px;   
}

/* staff */

#staff{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;        
    background-image: url('./images/input-side-landscape.jpg');
}

.table-wrapper{
    overflow-x: hidden;
    width: 100%;
}

table{
    font-size: 1.5rem;
}

#staff .input-content{
    background: var(--mydivcolorgradient2);
    border: 1px solid rgba(236, 194, 115, 0.24);
    margin: 5vh 0vh;
    box-shadow: var(--sdw);
}

.creating-appointment-container{
    display: flex;
    justify-content: center;
    gap: 3vw;
    width: 100%;
}

.creating-appointment-container> .input-content{
    display: flex;
    flex-direction: column;
    background: var(--mydivcolorgradient2);
    border: 1px solid rgba(236, 194, 115, 0.24);
    margin: 5vh 0vh;
    box-shadow: var(--sdw);   
}

.creating-appointment-container> .input-content h5{
    text-align: center;
    margin-bottom: 2vh;   
}

/* contact landscape */

.contact-container{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: start;  
    background-image: url('./images/footer.jpeg');
    background-position: 10% 100%;
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 58vw;
}

.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;
    
}

.contact-content p{
    margin-bottom: 4vh;
}

}

@media screen  and (max-width: 1300px) {

.container{
    width: 100%;
}

.introtext{
    font-size: 1.5rem;      
}

/* nav  */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background-color: #703c11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--sdw);  
} 

.menu{
    overflow-x: hidden;    
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #5c3210;
    z-index: 999;
    padding-bottom: 15%;
    font-size: 1.4rem;
}

.menu ul{
    width: 100%;
}

.menu li a{
    padding: 0.6rem;
    font-size: 1.5rem;    
}

.menu li a:hover{
    background-color: #49280d;  
}

.logo{
    padding-left: 18px;
}

.nav-toggle{
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    padding-right: 18px;
    box-shadow: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--mytextcolor);
    transition: all 0.3s ease-in-out;
}

.menu-main{
    padding-bottom: 10%;
}

.menu.active{
    display: flex;
}

.nav-toggle.active .bar:nth-child(2){
    opacity: 0;
}

.nav-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}  

}

@media screen  and (max-width: 1300px) and (orientation: landscape){
.menu{
    height: 100vh;
    min-height: fit-content;      
}

}

@media screen and (min-width: 1301px){
    
.navbar{
    display: contents;
}

.nav-toggle{
    display: none;
}
    
.menu{
    display: contents;
}
    
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    background-color: #703c11;
    z-index: 1000;
    box-shadow: var(--sdw);
    font-weight: 600;
}
    
nav a{
    padding: 18px 16px; 
}

nav li a:hover{
    background-color: #49280d;
}

.menu-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-secondary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

}
    
@media screen  and (min-width: 1920px) {
.container{
    max-width: 70%;
}
    
.introtext{
    font-size: 1.5rem;      
}

} 

@supports (-moz-appearance: none) {
    #staff .input-content{
        margin-top: 15vh;
    }
    /* #staff{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    min-height: auto;
    display: flex;
    flex-direction: column;        
    background-image: url('./images/input-side-landscape.jpg')
} */
}
