
{% extends 'base.html' %}
{% block content %}
<section id="input-side">
    <nav class="navbar">
            <div class="nav-mobile">
                <div class="nav-mobile-top">
                    <a href={% url 'app:index' %} class="logo">Kovász Mentor</a>
                    <button class="nav-toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button> 
                </div>
                <div class="nav-mobile-main">    
                    <ul class="mobile-nav-bottom">
                        {% if request.user.is_authenticated %}
                        <li><a href={% url 'app:profilepage' %}>Foglalásaim</a></li>
                        <li><a href={% url 'app:kilepes' %}>Kilépés</a></li>
                        {% else %}
                        <li><a href={% url 'app:belepes' %}>Belépés</a></li>
                        <li><a href={% url 'app:regisztracio' %}>Regisztráció</a></li>
                        {% endif %}
                    </ul> 
                </div>
            </div>
            
            <div class="nav-content">
                <a href={% url 'app:index' %} class="logo">Kovász Mentor</a>                      
                <ul class="nav-right">
                    {% if request.user.is_authenticated %}
                    <li><a href={% url 'app:profilepage' %}>Foglalásaim</a></li>
                    <li><a href={% url 'app:kilepes' %}>Kilépés</a></li>
                    {% else %}
                    <li><a href={% url 'app:belepes' %}>Belépés</a></li>
                    <li><a href={% url 'app:regisztracio' %}>Regisztráció</a></li>
                    {% endif %}
                </ul> 
            </div>
    </nav>
    <br><br><br>
<div class="input-content">
<h5>Belépés</h5>
{% comment %} Itt fontos, hogy a name attribútum maradjon meg az inputoknál {% endcomment %}
<form method="post" action={% url 'app:belepes' %}>
    {% csrf_token %}
    <label for="username">Felhasználónév: </label> <br>
    <input type="text" name="username" id="" class="input-field">

    <br>
    <br>

    <label for="email">Email: </label> <br>
    <input type="text" name="email" id="" class="input-field">

    <br>
    <br>

    <label for="password">Jelszó: </label> <br>
    <input type="password" name="password" class="input-field">

    <br>
    <br>

    <input type="submit" value="Belépés" class="submit-button">

</form>
<br>
<a href={% url 'app:regisztracio' %} class="link">Regisztráció</a>
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
</div>
</section>
<script>
        const navToggle= document.querySelector('.nav-toggle');
        const navMobileMain= document.querySelector('.nav-mobile-main');
        const mobileLinks = document.querySelectorAll('.nav-mobile-main a');

        navToggle.addEventListener('click', () => {
            navToggle.classList.toggle('active');
            navMobileMain.classList.toggle('active');
        });        

        mobileLinks.forEach(link => {
            link.addEventListener('click', () => {
                if (navMobileMain.classList.contains('active')) {
                    navToggle.classList.remove('active');
                    navMobileMain.classList.remove('active');
                }
            })
        });
</script>
{% endblock %}