{% extends 'base.html' %}
{% block content %}
    <nav class="navbar">
            <div class="nav-content">
                <a href={% url 'app:index' %} class="logo">Kovász Mentor</a>
                <div class="menu-open"><i>open</i></div> 
                <div class="menu-close"><i>close</i></div>
                       
                <ul class="navbar-menu">
                    
                    <a href={% url 'app:foglalas' %}><li>Jelentkezés</li></a>
                    {% if request.user.is_authenticated %}
                    <li><a href={% url 'app:profilepage' %}>Foglalásaim</a></li>
                    <li></li><a href={% url 'app:kilepes' %}>Kilépés</a></li>
                    {% else %}
                    <li><a href={% url 'app:belepes' %}>Belépés</a></li>
                    <li><a href={% url 'app:regisztracio' %}>Regisztráció</a></li>
                    {% endif %}
                </ul> 
            </div>
    </nav>
    <br><br><br>
    <h1>Foglalás</h1>

    {% comment %} 
    Ha két órán belüli a foglalás ne engedje és írja ki az "uzenet"-et
    {% endcomment %}
    {% if uzenet %}
        <h1>{{uzenet}}</h1>
    {% elif  not idopontok %}
        <h1>Elfogytak az időpontok</h1>   
        
    {% else%}
    <form action={% url 'app:foglal' %} method='post'>
        {% csrf_token %}

        {% comment %} <label for="nev">Foglaló neve: </label>
        <input type="text" name="nev"> {% endcomment %}

        <label for="szolgaltatas">Szolgáltatás: </label>
        <select name="szolgaltatas">
            {% for szolgaltatas in szolgaltatasok %}
                <option value={{szolgaltatas.nev}}>{{szolgaltatas.nev}}</option>
            {% endfor %}
        </select>
        <br>
        <br>

        <label for="idopont">Időpont:</label>
        <select name="idopont" id="idopont">
            {% for idopont in idopontok %}
                <option value="{{idopont}}">{{idopont}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Foglalás</button>
        

    </form>
    {% endif %}
{% endblock content %}
    
