{% extends "base.html" %}

{% block content %}

<section id="input-side">
    <nav class="navbar">
            <div class="nav-mobile">
                <div class="nav-mobile-top">
                    <a href={% url 'app:index' %} class="logo">Kovász Mentor</a>
                    <button class="nav-toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button> 
                </div>
                <div class="nav-mobile-main">    
                    <ul class="mobile-nav-bottom">
                        {% if request.user.is_authenticated %}
                        <li><a href={% url 'app:profilepage' %}>Foglalásaim</a></li>
                        <li><a href={% url 'app:kilepes' %}>Kilépés</a></li>
                        {% else %}
                        <li><a href={% url 'app:belepes' %}>Belépés</a></li>
                        <li><a href={% url 'app:regisztracio' %}>Regisztráció</a></li>
                        {% endif %}
                    </ul> 
                </div>
            </div>
            
            <div class="nav-content">
                <a href={% url 'app:index' %} class="logo">Kovász Mentor</a>                      
                <ul class="nav-right">
                    {% if request.user.is_authenticated %}
                    <li><a href={% url 'app:profilepage' %}>Foglalásaim</a></li>
                    <li><a href={% url 'app:kilepes' %}>Kilépés</a></li>
                    {% else %}
                    <li><a href={% url 'app:belepes' %}>Belépés</a></li>
                    <li><a href={% url 'app:regisztracio' %}>Regisztráció</a></li>
                    {% endif %}
                </ul> 
            </div>
    </nav>
    <br><br><br>
    {% if request.user.is_staff %}
    <table>
        <tr>
            <th>Username</th>
            <th>Szolgáltatás</th>
            <th>Dátum</th>
            <th>Időpont</th>
        </tr>
    {% for foglalas in foglalasok %}
    
        <tr>
            <td>{{foglalas.user.username}}</td>
            <td>{{foglalas.szolgaltatas.nev}}</td>
            <td>{{foglalas.idopont.datum}}</td>
            <td>{{foglalas.idopont.ido |time:"H:i"}}</td>
        </tr>
    {% endfor %}
    </table>

    {% else %}
    <h1>Staff only</h1>
    {% endif %}


    <script>
        const navToggle= document.querySelector('.nav-toggle');
        const navMobileMain= document.querySelector('.nav-mobile-main');
        const mobileLinks = document.querySelectorAll('.nav-mobile-main a');

        navToggle.addEventListener('click', () => {
            navToggle.classList.toggle('active');
            navMobileMain.classList.toggle('active');
        });        

        mobileLinks.forEach(link => {
            link.addEventListener('click', () => {
                if (navMobileMain.classList.contains('active')) {
                    navToggle.classList.remove('active');
                    navMobileMain.classList.remove('active');
                }
            })
        });
</script>

{% endblock %}